<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               img-src 'self' data:;
               style-src 'self' https://cdn.jsdelivr.net;
               font-src 'self' https://cdn.jsdelivr.net;
               connect-src 'self' ws:;
               object-src 'none';">
    <base href="/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" integrity="sha384-XGjxtQfXaH2tnPFa9x+ruJTuLE3Aa6LhHSWRr1XeTyhezb4abCG4ccI5AkVDxqC+" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css?v=5.3.3" />
    <link rel="stylesheet" href="css/app.css?v=1.0" />
    <link rel="stylesheet" href="css/font.css?v=1.0" />
    <link rel="stylesheet" href="Wallet.styles.css?v=1.0" />
    <link rel="manifest" href="manifest.json?v=1.0">
    <link rel="icon" type="image/png" href="/media/icon.png?v=1.0" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="js/bootstrap.bundle-5.3.3.min.js?v=1.0"></script>
    <script src="js/jsQR-1.4.0.min.js?v=1.0"></script>
    <script src="js/script.js?v=1.0"></script>
    <script src="js/qr.js?v=1.0"></script>
    <script src="js/clipboard.js?v=1.0"></script>
    <script src="_framework/blazor.web.js?v=1.0"></script>
</body>
</html>
